{% extends 'search/search.html' %} 
{% block content %}
<div>inside the second html</div>
<!-- {% for x in lab%}
<div class="col col-1" data-label="labName">{{x.labName}}</div>
<div class="col col-2" data-label="labId">{{x.labID}}</div>
<div class="col col-3" data-label="buildingNum">{{x.buildingNum}}</div>
<div class="col col-4" data-label="floorNum">{{x.floorNum}}</div>
<div class="col col-5" data-label="numOfPC">{{x.numOfPC}}</div>
<div class="col col-6" data-label="numberOfChair">{{x.numberOfChair}}</div>
<div class="col col-7" data-label="labCapacity">{{x.labCapacity}}</div>
<div class="col col-8" data-label="Status">{{x.Status}}</div>
<div>inside the second html</div>
{% endfor %} -->

{% endblock content%}
