<!DOCTYPE html>
{% load static %}


{% block content %}

<html lang="en">

<head>
    
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width,initial-scale=1.0">
    <title>Registration page</title>
    
    <link rel="stylesheet" href="{% static 'css/add_lab/Add_Lab.css' %}">
    <link rel="stylesheet" href="{% static 'css/home/Home.css' %}">
    <!-- <link rel="stylesheet" href="../css_files/Sign_In.css"> -->

</head>

<body class="la" >
    
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Oxygen:wght@300;400&display=swap" rel="stylesheet">


    <nav>
        <div id="logoPic">
            <img src="{% static 'photos/logo.svg' %}"
            height="60" width="70">
            <!-- Computer Labs -->
        </div>
        
        <ul class="navUL">
            <li><a href="{% url 'search' %}">Search</a></li>
            <li><a href="{% url 'homepage' %}">Home</a></li>
            
            <!-- <li><a href="#">Services</a></li>
            <li><a href="#">About Us</a></li> -->
            <li><a href="mailto:hourahmed112@gmail.com">Contact Us</a></li>
        </ul> 
        <!-- <div class="sign">
            <input type="text" placeholder="Search Labs" id="navSearch">
            <button >
                <a href="#">Sign Up</a></p>
            </button>
            <button>
                 <p><a href="#" class="s" onclick="openForm()">Sign In</a></p> -->
                <!-- <a href="#"> Sign In </a>
            </button>
        </div> -->
        
        
        <button id="barIcon"><img src="{% static 'photos/bars.svg' %}"></button>   
    </nav>

    <div class="home">
        <div id="tableDiv">
            <form method="POST" name="laboratory" id="myform" onsubmit=" checkform();">
            {% csrf_token %}
            
                <table cellpadding="20" cellspacing="20"  id="t">
    
                   <center> <img id="image" src=" https://cdn-icons-png.flaticon.com/128/3768/3768946.png" alt=" icon computer"></center>
                    <tr>
                        <td colspan=2>
                            <center>
                                <font size=6><b> Laboratory Form</b></font>
                            </center>
                        </td>
                        </tr>
    
                        <tr>
                            <td class="r" autofous>
                                Lab Name
                            </td>
                            <td>
                                <input required type=text name="textnames" id="textname"  size="30"  placeholder="write a name for lab">
                            </td>
                        </tr>
    
                        <tr>
                            <td class="r"  >
                                lab ID
                            </td>
                            <td><input required type="number" name="labId" id="ID" size="30"placeholder="write lab ID"></td>
                        </tr>
                        <tr>
                            <td class="r" >
                                Building
                                Number
                            </td>
                            <td>
                                <input required type="number" min="1" name="buildingnumber" id="buldingnum" size="30" 
                                    placeholder="write The buldingnum">
                            </td>
                        </tr>
    
                        <tr>
                            <td class="r"  >
                                Floor
                                Number
                            </td>
                            <td>
                                <input required type="number" min="1" name="floornumber" id="floornum" size="30" 
                                    placeholder="write The floornum">
                            </td>
                        </tr>
                        <tr>
                            <td  class="r" >
                                Number
                                Of
                                Pcs
                            </td>
                            <td>
                                <input required type="number" min="1" name="pcnumber" id="pcnum" size="30"
                                    placeholder="write number of pcs">
                            </td>
                        </tr>
                        <tr>
                            <td class="r" >
                                Number Of
                                Chairs
                            </td>
                            <td>
                                <input required type="number" min="1" name="chairnumber" id="chairnum" size="30" 
                                    placeholder="write number of chairs">
                            </td>
                        </tr>
                        <tr>
                            <td class="r" >
                                Capicty
                            </td>
                            <td><input required type="number" min="1" name="capacity" id="cap" size="30"  placeholder="write capacity">
                            </td>
                        </tr>
    
                        <tr>
                            <td class="r" >
                                Status
                            </td>
                            <td><input type="radio" class="st" name="s" value="active" id="ac" size="50">
                                <label for="ac">Active</label>
                                <input type="radio" class="st" name="s" value="under maintenance" id="under" size="100">
                                <label for="under">Under Maintenance</label>
                            </td>
                        </tr>
    
                        <tr>
                            <td>
                            <button class="button" type="reset"> reset</button>
                            </td>
                            <td>
                            <button class="button"  type="submit" onclick="checkempty();" id="submit">submit</button>
                            </td>
                           
                        </tr>
                </table><br>
                    
            </form>
        </div>    
        
        <div class="sideNav" id="sideNav">
                 
                <!-- <div id= showButton><img src="../images/showArrow.svg"> <title>show sidebar</title></div> -->
                <div id="sideBar">
                    <p><a href="{% url 'reportpc' %}">Report PC</a></p>
                    <hr>
                    <p><a href="{% url 'add pc' %}">Add PC</a></p>
                    <hr>
        
                    <p><a href="{% url 'add lab' %}">Add Lab</a></p>
                    <hr>
                    <p><a href="{% url 'search' %}">Search</a></p>
                    <hr>
                    <p ><a href="{% url 'pcrepair' %}">PC Repair</a></p>
                    <hr>
                    <p><a href="{% url 'editlab' %}">Edit Lab</a></p>
                    
                </div>
    </div>

    
    <!-- <div class="form-popup" id="myForm">
        <form name="form1"  action="/action_page.php" class="form-container">

            <h1>Sign In</h1>
      
            <label for="email"><b>Email</b></label>
            <input type="text" placeholder="Enter Email"  id="e"  name='text1' required>
        
            <label for="psw"><b>Password</b></label>
            <input type="password" id="psw" name="psw" pattern="(?=.*\d)(?=.*[a-z])(?=.*[A-Z]).{8,}" title="Must contain at least one number and one uppercase and lowercase letter, and at least 8 or more characters" required>
        
            <button  onclick="ValidateEmail(document.form1.text1)" class="btn">Login</button>
            
            <input type="checkbox" checked="checked"id="ch" value="Remember" name="remember"> remember
            
          
            <button type="button" class="btn cancel" onclick="closeForm()">Close</button>
            <div id="message">
                <h3>Password must contain the following:</h3>
                <p id="letter" class="invalid">A <b>lowercase</b> letter</p>
                <p id="capital" class="invalid">A <b>capital (uppercase)</b> letter</p>
                <p id="number" class="invalid">A <b>number</b></p>
                <p id="length" class="invalid">Minimum <b>8 characters</b></p>
            </div>
        </form>
    </div>    -->
    <script>
        myform.addEventListener('onload', (e) => {
                e.preventDefault();
                validateForm();
            });
    </script>
    
   
    <script src="{% static 'js/add_lab/Add_Lab.js' %}"></script>
    <script src="{% static 'js/home/home.js' %}"></script>
    <!-- <script src="../js_files/Sign_In.js"></script> -->

</body>

</html>
{% endblock %} 